<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Order form for Hostess</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Hostess</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Order Form for Hostess</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <h5> <b>For Hostess, kindly contact following companies as per your requirement</b></h5><br/>
                            <p>
                                <b>Ms. Lavanya Suresh,</b><br />
                                <b>Director</b><br />
                                M/s. On Point Solutions <br />
                                No.16, 2nd Cross, 10th Main Road,<br />
                                Adarsh Layout, Jnana Jyothi Nagar, <br />
                                Bengaluru - 560056<br />
                                Mobile: 8618961190<br />
                                WhatsApp - 7204977773<br />
                                E-mail: onpointsolutionsbls@gmail.com
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>