<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Stall Design / Fabrication</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Stall Design</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section><!--  -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-warning">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Darshan Kumar K</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>Planotech Events & Marketing Pvt. Ltd.</b><br />
                                        No. 49, Ravish Gardenia,<br />
                                        Ravish Mangroves, Vaderahalli post <br />
                                        Vidyaranyapura, Bengaluru - 560097
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9108933888</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            darshan@planotechevents.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a href="https://www.planotechevents.com" target="_blank" class="nav-link d-inline">
                                            www.planotechevents.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-success">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Sathish Kumar. S</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Vittva Creative Communications</b><br />
                                        No.33, Hennur Bagalur Main Road, <br />
                                        KIAL Link Road, Kannur Post, <br />
                                        Bengaluru - 562149
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9945417597</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            vittva.discover@gmail.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a href="www.vittva.com" target="_blank" class="nav-link d-inline">
                                            www.vittva.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-primary">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/female.png"
                                    alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Ms. Poonam Ambavat</h3>
                            <h6 class="widget-user-desc">Marketing Head</h6>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. One Touch Agency</b><br />
                                        147 - E, 1st Floor, Panchrantna,<br />
                                        Opera House, Mumbai - 400004<br />
                                        <br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">7021377482</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            sales.onetouchagency@gmail.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a href="www.onetouch-agency.com" target="_blank" class="nav-link d-inline">
                                            www.onetouch-agency.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-danger">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/female.png"
                                    alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username"> Ms. Bhagyalakshmi
                            </h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Fi Desighna and Development Pvt. Ltd.</b><br />
                                        Bengaluru - 560033<br /><br /><br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9986067824</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            Bhagya_vignesh@rediffmail.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a class="nav-link d-inline">
                                            bhagya@fi-dd.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Kushal Singh</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Checkmate Communications</b><br />
                                        Indiranagar 1st stage<br />
                                        Bangalore 560038<br /><br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9886088740/9880938698</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            kushal@checkmate.co.in

                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a class="nav-link d-inline">
                                            keerthi@checkmate.co.in
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-warning">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Praveen Balan</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Pavilions & Interiors (I) Pvt. Ltd.</b><br />
                                        No.650, 1st Floor, 8th Main,<br />
                                        1st Stage, 3rd Block, HBR Layout,<br />
                                        Bengaluru - 560043
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">080-29919691, 9845108042, 9916374555</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            p.balan@pavilionsinteriors.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a class="nav-link d-inline">
                                            Pi.bangalore@pavilionsinteriors.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-success">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Kumar Vind</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Odds N Events</b><br />
                                        Mumbai<br /><br /><br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9820355094</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            odds.events@gmail.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a class="nav-link d-inline">

                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-primary">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Ravi Ganesan</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Elite Expo and Events Services</b><br />
                                        # 458, 2nd Floor, 2nd D Cross Mes Road<br />
                                        Muthyalanagar Gokula Extn,<br />
                                        Bangalore 560 054
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9845044340</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            eeesind@gmail.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a class="nav-link d-inline">

                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-danger">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. Chanchal Panchal</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. Lines Art Studio</b><br />
                                        117,Arjun Nagar ,Near B-6 market<br />
                                        New Delhi-110029<br /><br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9560205661,9717077308</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            marketinglinesart@gmail.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a href="www.linesartstudio.com" target="_blank" class="nav-link d-inline">
                                            www.linesartstudio.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/male.png" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Mr. T M Vijaydas</h3>
                            <h5 class="widget-user-desc">Business Head - South</h5>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <br /><br /><br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">9821417558</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            vijay.das@meroformindia.com
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a class="nav-link d-inline">

                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-4"><!-- Widget: user widget style 2 -->
                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-warning">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="./assets/dist/img/female.png"
                                    alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Ms. Mary Surpaul</h3>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <b>M/s. The Propshop</b><br />
                                        Plot No.837, Opp INEZ Tower 6,<br />
                                        Mori Road, Mahim (W),<br />
                                        Mumbai- 400 016<br />
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-mobile"></i>
                                        <a class="nav-link d-inline">8657981039</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-envelope"></i>
                                        <a class="nav-link d-inline">
                                            mary@thepropshop.co.in
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <i class="fa fa-globe"></i>
                                        <a href="www.thepropshopindia.com" target="_blank" class="nav-link d-inline">
                                            www.thepropshopindia.com
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>